<footer>
  <nav class="navbar navbar-light" style="background-color: #ffffff;">
    <div class="container">
      <div class="col-md-12 text-center">
        <p class="copy">
          Copyright
          <i class="far fa-copyright"></i> {{dateNow | date: 'yyyy'}} {{title}}
        </p>
        <p class="text-muted">Disclaimer</p>
        <p class="small text-muted">
          <cite>
            Though {{title}} synchronizes with online cryptocurrencies exchanges every minute, we cannot guarantee absolute accuracy
            of the displayed exchange rates. You should always confirm current rates before making any transactions that
            could be affected by changes in the exchange rates. Crypocurrency rates based on the data provided by exchanges
            APIs. All rates are for information purposes only and are subject to change without prior notice. Since rates
            for actual transactions may vary we are not offering to enter into any transaction at any rate displayed. Displayed
            rates are composite prices and not intended to be used for investment purposes.
          </cite>
        </p>
      </div>
    </div>
  </nav>
</footer>
