<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">
      <i class="fab fa-bitcoin"></i> {{ title }}</a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="">Pairs
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="currencies">Currencies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="markets">Exchanges</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#" routerLink="about">About</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            My Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
