<div class="row">
  <div class="col-md-12">
      <h1 class="display-4">Trading Pairs</h1>
      <p class="lead">
          Returns the most profitable trading pairs from 2743 cryptocurrencies across more than 130 exchanges.
      </p>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Currency</th>
            <th scope="col"><i class="fab fa-btc"></i> Buy Price</th>
            <th scope="col"><i class="fab fa-btc"></i> Sell Price</th>
            <th scope="col">Profit</th>
            <th scope="col">Buy Market</th>
            <th scope="col">Sell Market</th>
            <th scope="col"><div class="text-center">Status</div></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="#">Crave</a>
            </td>
            <td>0.00005698</td>
            <td>0.00050001</td>
            <td>762.07%</td>
            <td>
              <a href="#">Coinexchange</a>
            </td>
            <td>
              <a href="#">Yobit</a>
            </td>
            <td class="text-center"><i class="fab fa-bitcoin text-success"></i></td>
          </tr>
          <tr>
            <td>
              <a href="#">Greencoin</a>
            </td>
            <td>0.00000006</td>
            <td>0.00000077</td>
            <td>757.14%</td>
            <td>
              <a href="#">Coinexchange</a>
            </td>
            <td>
              <a href="#">Yobit</a>
            </td>
            <td class="text-center"><i class="fab fa-bitcoin text-success"></i></td>
          </tr>
          <tr class="maintenence">
            <td>
              Gulden
            </td>
            <td>0.00002199</td>
            <td>0.00014301</td>
            <td>605.15%</td>
            <td>
              Coinexchange
            </td>
            <td>
              Yobit
            </td>
            <td class="text-center"><i class="fab fa-bitcoin text-danger"></i></td>
          </tr>
          <tr>
            <td>
              <a href="#">Fazzcoin</a>
            </td>
            <td>0.00000091</td>
            <td>0.00000517</td>
            <td>401.10%</td>

            <td>
              <a href="#">Yobit</a>
            </td>
            <td>
              <a href="#">Coinexchange</a>
            </td>
            <td class="text-center"><i class="fab fa-bitcoin text-success"></i></td>
          </tr>
          <tr>
            <td>
              <a href="#">Wink</a>
            </td>
            <td>0.00000009</td>
            <td>0.00000068</td>
            <td>390.00%</td>

            <td>
              <a href="#">Yobit</a>
            </td>
            <td>
              <a href="#">Coinexchange</a>
            </td>
            <td class="text-center"><i class="fab fa-bitcoin text-success"></i></td>
          </tr>
          <tr>
            <td>
              <a href="#">SuperCoin</a>
            </td>
            <td>0.00000159</td>
            <td>0.00000498</td>
            <td>281.94%</td>

            <td>
              <a href="#">HitBTC</a>
            </td>
            <td>
              <a href="#">Coinexchange</a>
            </td>
            <td class="text-center"><i class="fab fa-bitcoin text-success"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
